
<!DOCTYPE html>
<html>
  <head>
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/predict_page_style.css') }}" type="text/css"/>
  </head>
  <body>
    <div class="testbox1">
      <form action="/predict" method="POST" target="_blank">
        <div class="banner">
          <h1>Prediction Result</h1>
        </div>
        <div class="prediction_res">
          <div class="thumbnail">
            {% if prediction [0]== 1 %}
            <h2 style="text-align: center;"> Given the information on the form, the passenger is satisfied </h2>
            <img src="static/images/happy_grey.png" class="emoji" />
            {% endif %}
          </div>
          <div class="thumbnail">
            {% if prediction[0] == 0 %}
            <h2 style="text-align: center;"> Given the information on the form, the passenger is neutral or dissatisfied</h2>
            <img src="static/images/sad_grey.png" class="emoji" />
            {% endif %}
          </div>
        </div>
        <div class="btn-block">
          <a href="/" class="button">Fill Form Again</a>
        </div>
      </form>
    </div>
    
  </body>
</html>

