html, body {
  min-height: 100%;
  background-color: #87CEFA;
}
body, div, form, input, select, textarea { 
  padding: 0;
  margin: 0;
  outline: none;
  font: 14px/8px Arial;
  color: #666;
}

label{ 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  color: #666;
  line-height: 8px;
}

h1 {
  margin: 0;
  font-size: 50px;
  color: #fff;
  z-index: 2;
  line-height: 83px;
}

h2 {
  color: #666;
  font-family: Arial;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 50px;
}
form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff; 
}
.banner {
  position: relative;
  height: 300px;
  background-image: url("../images/plane.jpg");  
  background-size: cover;
  background-position: 20%-15px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input, select, textarea {
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input {
  width: 400px;
  padding: 5px;
}

input[type=radio]:checked + label:after {
  opacity: 1;
}
.btn-block {
  margin-top: 10px;
  text-align: center;
}
button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background: #010225d5;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

label.slider-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.slider-container {
  display: flex;
  align-items: center;
  position: relative;
}

.slider-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(var(--value, 0) * 20%);
  height: 4px;
  background-color: #1a37db;
  transform: translateY(-50%);
  z-index: 1;
}

.slider-value {
  margin-left: 10px;
  font-size: 16px;
  color: #666;
  position: relative;
  z-index: 2;
}

input#passenger_age {
  width: 400px; 
  height: 22px;
}
.item {
  margin-bottom: 5px;
}
label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

select {
  width: 410px;
  height: 22px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
}

.error-message {
  color: rgb(216, 40, 40);
  text-align: center;
  font-size: 18px; 
  font-weight:bold;
  line-height: 3px;
  
  
}